@using Tweet.Models
@model MyProfileViewModel

<h2>
    @Model.User.UserName's Profile
</h2>

<img src="@Model.User.AvatarPath" width="150">
<p><strong>Name:</strong>@Model.User.FirstName @Model.User.LastName</p>
<p><strong>Bio:</strong>@Model.User.Bio </p>