@model List<PostViewModel>

<h2>Posts</h2>
<a asp-action="Create" class="btn btn-primary">Create post</a>
@foreach (var post in Model)
{
    <div class="post">
        <h4>@post.Post.Title</h4>
        <p>@post.Post.Content</p>
        <p>Author: <a asp-controller="Profile" asp-action="ViewProfile" asp-route-userId="@post.Post.UserId"> @post.Post.User.UserName </a></p>
        <p>Likes: @post.LikeCount</p>
        
        @if (post.IsLikedByCurrentUser){
            <form action="/Like/UnlikePost" method="post" style="display:inline">
                <input type="hidden" name="PostId" value="@post.Post.Id" />
                <button type="submit" class="btn btn-sm btn-danger">Unlike</button>
            </form>
        }
        else{
            <form action="/Like/LikePost" method="post" style="display:inline">
                <input type="hidden" name="PostId" value="@post.Post.Id" />
                <button type="submit" class="btn btn-sm btn-danger">like</button>
            </form>
        }
        <div class="comments-section">
            @* <h5> Comments </h5> *@
            @foreach (var comment in post.Comments)
            {
                <div class="comment">
            <strong>@comment.User.UserName</strong>: @comment.Content
            </div>
            }
            <a href="@Url.Action("Details", "Post", new
                     {
                         id = post.Post.Id})">Details</a>
            })"
            </div>



        
        <a asp-action="Edit" asp-route-id="@post.Post.Id">Edit</a>
        <a asp-action="Delete" asp-route-id="@post.Post.Id">Delete</a>
    </div>
}

























